:root {
    --primary-color: #14b389;
    --min-dice-size: 50px;
    --dice-count: 1;
    --default-dice-size: 150px;
    --dice-size-modificator-div: 5;
    --dice-size-modificator: calc(var(--dice-count) / var(--dice-size-modificator-div));
    --dice-size: min(max(calc(var(--default-dice-size) / var(--dice-size-modificator)), var(--min-dice-size)), var(--default-dice-size));

}

.app {
    /*TODO it-s not build*/
    font-size: calc(min(max(calc(150px / 5), 50px), 150px) / 1.7);
    margin: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.config {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}


.config__properties {
    margin-top: 10%;
    margin-left: 10%;
}

.config input {
    margin: 5px;
    width: 60px;
    height: 50px;
    font-size: 30px;
}

.random-number {
    font-size: calc(var(--dice-size) / 2);
    width: var(--dice-size);
    height: var(--dice-size);
    line-height: var(--dice-size);
    text-align: center;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    user-select: none;
}

.result-value {
    cursor: pointer;
}

.rotation-animation {
    animation: 200ms linear 0s normal none infinite running rotation;
}

.dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dice {
    margin: calc(var(--dice-size) / 6);
    text-align: center;
}

.click-all-button {
    user-select: none;
    text-align: center;
    margin: 20px;
}

.click-all-button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.log {
    user-select: none;
    width: 200px;
    margin: auto;
}

.log-element-list {
    font-size: 32px;
    max-height: 250px;
    overflow-y: auto;
}

.log-element-list::-webkit-scrollbar {
    display: none;
}


.log-element {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.log-element__value__sub {
    color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.log-element__value {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.clear-log-button {
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
}

.clear-log-button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.settings-button {
    font-size: 32px;
    color: var(--primary-color);
}

.settings-button:hover {
    cursor: pointer;
}

.settings-button__modal {
    position: absolute;
    border-radius: 10px;
    top: 30%;
    left: 30%;
    right: 30%;
    background-color: white;
}

.settings-button__modal__close {
    color: var(--primary-color);
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
}

.settings-button__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dice-value {
    color: var(--primary-color);
    font-size: var(--dice-size);
}

@media all and (max-width: 720px) {
    :root {
        --dice-size-modificator-div: 2;
    }

    .config {
        display: flex;
        justify-content: space-around;
    }

    .config__properties {
        margin: 20% 0 0;
    }

    .settings-button__modal {
        top: 10%;
        right: 10%;
        left: 10%;
    }

    .container {
        margin-top: 0;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}